.mica-looking{
  width: 60%;
  margin: auto;
  display: block;
  margin-top: 6%;
}
.shout{
  h3{
    color: $darkred;
  }

   ul{
     color: $darkred;
     line-height: em(30);
     @include no-bullets;
     color: white;
     font-family: $mont;
     padding: 3%;
     margin: auto;
     width:90%;
     margin-left: 22%;
     margin-right: 4%;
     li{
       line-height: em(40);
       text-align: left;
       margin: auto;
       color: $darkred;
     }


     img{
       margin-left: -40px;
       margin-top: 7px;
       width: 10%;
       padding-right: 20px;
     }

     a{
       color: white
   }
       a:hover{
         color: $darkred;
     }

     a{
       color: $darkred;
   }
       a:hover{
         color: $darkgray;
     }
   }
 }

.hours table{
  border: none;
  margin-bottom: 50px;
}

.rwd-table{
  margin: auto;
  margin-top: 4%;
  margin-bottom: 8%;
  padding: 1%;
  background-color: white;
  border: 2px $darkgray solid;
  width: 60%;
    td{
      background-color: none;
      padding: none;
    }
}

.avail-head{
  color: $red;
  font-size: em(20);
  text-align: center;
  margin-bottom: 2px;
}

.price{
  color: $gray;
}

// FORM

form p{
  background-color: white;
  padding: 2%;
  width: 90%;
  margin: auto;
  border-bottom: 2px dashed $darkgray;

  input{
    background-color: white;
  }

  button, input[type=submit]{
    color: $darkred;
    border: .5px dashed $darkred;
    padding: 3%;
    width: 30%;
  }

  button, input[type=submit]:hover{
    color: $darkgray;
  }

  textarea{
    background-color: lightgray;
    font-family: $mont;
    color: $gray;
    font-size: em(18);
    padding: 1%;
    width: 80%;
  }

  input{
    font-family: $mont;
    color: $gray;
    font-size: em(13);
    padding: 1%;
  }
}

span.wpcf7-not-valid-tip{
  color: $darkred;
  font-family: $raleway;
  font-style: italic;
  font-size: 12px;
}

form p textarea{
  background-color: white;
  width: 100%;
  font-size: em(13);
  text-align: center;
}

div.wpcf7-validation-errors{
  border: none;
  color: $gray;
  font-family: $raleway;
  font-style: italic;
  font-size: 12px;
}

div.wpcf7-mail-sent-ok{
  border: none;
  color: $gray;
  font-family: $raleway;
  font-style: italic;
  font-size: 12px;
}

body {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

#contact-form {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

label {
  font-weight: 200;
}

textarea,input {
  text-align: center;
  background: none;
  font-weight: 500;
  font-size: 25px;
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed $darkgray;
  box-sizing: border-box;
  cursor: text;
}

textarea {
  text-align: left;
  resize: none;
  width: 90%;
}

button {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}

button:hover small {
  opacity: 1;
}

small {
  display: block;
  opacity: 0;
  font-family: $mont;
  text-transform: uppercase;
  color: $darkred;
}

.website {
  opacity: 1;
  font-size: 16px;
  color: $darkgray;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 7%;
}

.website a {
  color: $darkgray;
}

.contact-form p{
  font-family: $raleway;
}

.contact-head{
  color: $darkgray;
  font-size: em(22);
  font-weight: bold;
  font-family: $raleway;
}

// MEDIA QUERIES

@media (min-width: 505px){
  .shout{
     img{
       width: 6%;
     }
}
}

@include breakpoint(tablet){
  .grid-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "nav"
      "mica-looking"
      "shout"
      "rwd-table"
      "wpcf7"
      "footer";
    }

    form p button, form p input[type=submit]{
      color: $darkred;
      border: .5px dashed $darkred;
      padding: 1%;
      width: 10%;
    }

    .nav{
        grid-column: span 2;
        grid-area: "nav";
    }

      .mica-looking{
        grid-column: span 1;
        grid-area: "mica-looking";
      }

      .shout{
        margin-top: 6%;
        width: 90%;
        padding-right: 100px;
        grid-area: "shout";

        img{
          margin-left: -40px;
          margin-top: 7px;
          width: 10%;
          padding-right: 20px;
        }

        h3{
          color: $gray;
        }
        grid-column: span 1;
        background-color: white;

       ul{
         color: $darkred;
         line-height: em(30);
          margin-right: 100px;

         a{
           color: $darkred;
       }

           a:hover{
             color: $darkgray;
         }
       }
      }

      .rwd-table {
        grid-column: span 1;
        width: 90%;
        margin-bottom: 4%;
        grid-area: "rwd-table";
      }

      .wpcf7{
        width: 100%;
        margin: auto;
        grid-column: span 2;
        grid-area: "wpcf7"
      }

      .footer {
        grid-column: span 2;
        grid-area: "footer";
      }

      .grid-contact .rwd-table{
          margin: 0%;
        font-size: em(13);
      }
    }

    @include breakpoint(regular-screen){
      .mica-looking{
        width: 50%;

      }
    }
