
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=724856b33c98735926e8edf54965d711
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress